/* This is my style sheet */

/* body formatting */
body {background-color: whitesmoke}

/* heading h1 formatting */
h1   {color: black;
    font-weight: bold;
    font-size: 36px}

/* CSS rules for navigation division */
#navigation {
    /* The width of this area is 100% of full form */
    width: 100%;
    /* The height of this area is 45px */
    height: 55px;
    /* fix the position */
    position: fixed;
    /* eliminates small gap at top of the page */
    top: 0;
    /* This border has 6px radius corner */
    border-radius: 6px;
}

/* Menu division: format the menu generally including background colour and style */
#menu {
    /* The width of this area is 100% of full menu */
    width: 100%;
    /* The height of this area is 45px */
    height: 55px;
    /* set the text font */
    font-size: 15px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    /* The text are align to left. */
    text-align: left;
    /* the color of background is darkgray */
    background-color: darkgray;
    /* This border has 6px radius corner */
    border-radius: 6px;
}

/* Menu division: format the unordered list so that it appears directly below the title of the page and below the edge of the colour background */
#menu ul {
    /* The height of this area is auto */
    height: auto;
    /* The top and bottom padding are 8px, the right and left padding are 0px */
    padding: 8px 0;
    /* None of margin */
    margin: 0;
}

/* Menu division: format the list items so that they display across the page instead of in a vertical list */
#menu li {
    display: inline;
    /* Four inner padding are all 20px */
    padding: 20px;
}

/* Menu division: format the link items so that they are dark blue, spaced apart, and do not have underlines */
#menu a {
    text-decoration: none;
    color: #000000;
    /* Four inner padding are all 8px */
    padding: 8px;
}

/* mouse over link, the color of text will change to white when mouse hovering */
#menu a:hover {
    color: white;
}

/* Pull down button style */
.dropbtn {
    background-color:darkgray;
    color:black;
    /* The height of this area is 45px */
    height: 45px;
    /* set the text font */
    font-size: 15px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    padding:16px;
    border:none;
    cursor:pointer;
    border-radius:6px;
}
.dropbtn::after {
    content:" ";
    width:0;
    height:0;
    display:inline-block;
    border:6px solid  white;
    margin-left:3px;
    vertical-align:middle;
    border-top-width:12px;
    border-bottom-width:0;
    border-left-color:transparent;
    border-right-color:transparent;
}

.dropdown {
    position:relative;
    display:inline-block;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display:none;
    position:absolute;
    background-color:darkgray;
    min-width:160px;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
}
/* Link to the drop-down menu */
.dropdown-content a {
    color:black;
    padding:12px 16px;
    text-decoration:none;
    display:block;
}
/* Move the mouse over and change the color of the drop-down menu link */
.dropdown-content a:hover {
    background-color:gray;
    box-shadow:0 0 2px #eee;
}
/* A drop - down menu is displayed after mouse - over */
.dropdown:hover .dropdown-content {
    display:block;
}
/* Modify the background color of the drop-down button after the drop-down content is displayed */
.dropdown:hover .dropbtn {
    background-color:gray;
}

#indexTop img {
    /* The width of this area is 100% of full screen */
    width: 100%;
    /* The height of this area is auto */
    height: auto;
}

#logo img {
    /* The width of this image is 95px, and the height is auto-resizing with width */
    width: 95px;
    height: auto;
    /* Four inner padding are all 5px */
    padding: 5px;
    /* This image will float to left of screen */
    float: left;
    /* right margin is 50px */
    margin-right: 50px;
}

/* Photo Gallery styles */
.gallery {
    margin: 100px auto 0;
    width: 800px;
}

.gallery a {
    display: inline-block;
    height: 135px;
    position: relative;
    width: 180px;
    /* CSS3 Prevent selections */
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.gallery a img {
    border: 8px solid #fff;
    border-bottom: 20px solid #fff;
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    /* CSS3 Box sizing property */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    /* CSS3 transition rules */
    -webkit-transition: all 1.0s ease;
    -moz-transition: all 1.0s ease;
    -o-transition: all 1.0s ease;
    transition: all 1.0s ease;
    /* CSS3 Box Shadow */
    -moz-box-shadow: 2px 2px 4px #444;
    -webkit-box-shadow: 2px 2px 4px #444;
    -o-box-shadow: 2px 2px 4px #444;
    box-shadow: 2px 2px 4px #444;
}

/* Custom CSS3 rotate transformation */
.gallery a:nth-child(1) img {
    -moz-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
}

.gallery a:nth-child(2) img {
    -moz-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.gallery a:nth-child(3) img {
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.gallery a:nth-child(4) img {
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.gallery a:nth-child(5) img {
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.gallery a:nth-child(6) img {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.gallery a:nth-child(7) img {
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

.gallery a:nth-child(8) img {
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}

.gallery a:nth-child(9) img {
    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

.gallery a:nth-child(10) img {
    -moz-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}

.gallery a:nth-child(11) img {
    -moz-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
}

.gallery a:nth-child(12) img {
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.gallery a:focus img {
    cursor: default;
    height: 250%;
    left: -150px;
    top: -100px;
    position: absolute;
    width: auto;
    z-index: 25;
    /* CSS3 transition rules */
    -webkit-transition: all 1.0s ease;
    -moz-transition: all 1.0s ease;
    -o-transition: all 1.0s ease;
    transition: all 1.0s ease;
    /* CSS3 transform rules */
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
